/* ------------------button-------------------- */

* {
    touch-action: none;
}

body {
    overflow: hidden;
}

audio {
    position: relative;
    bottom: -1em;
}

.gui {
    position: fixed;
    bottom: 20px;
    z-index: 20;
}

#canvaser {
    background: aliceblue;
}

.btn {
    background-color: white;
    color: black;
    min-width: 3.3em;
    height: 2em;
    font-size: 1.8em;
    padding: 3px 5px 6px 5px;
    margin: 5px 5px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #4CAF50;
    border-radius: 5px;
}

.btn:hover {
    background-color: #4CAF50;
    color: white;
}

.btn:active {
    background-color: rgb(13, 107, 19);
}

#ok {
    margin-left: 25%;
    width: 40%;
    border: 2px solid dodgerblue;
}

#ok:hover {
    background-color: dodgerblue;
    color: white;
}

#ok:active {
    background-color: rgb(20, 87, 155);
}


/* ------------------/button------------------- */

* {
    font-family: "微软雅黑", Microsoft YaHei;
}

canvas {
    border: 1px solid black;
    background: linear-gradient(#F1F3F4, rgb(171, 173, 173));
}